In [2]:
import pandas as pd
from sklearn.neighbors import KDTree
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
train_df = pd.read_csv('/content/drive/MyDrive/ML4_adv/최종_위도경도컬럼추가_train.csv')
subway_feature_df = pd.read_csv('/content/drive/MyDrive/ML4_adv/subway_feature.csv')

<ipython-input-4-d231e5a199a9>:1: DtypeWarning: Columns (16,17,36) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv('/content/drive/MyDrive/ML4_adv/최종_위도경도컬럼추가_train.csv')

In [ ]:
# KDTree에 사용할 좌표를 준비합니다
subway_coords = subway_feature_df[['위도', '경도']].values
subway_tree = KDTree(subway_coords)

# 가장 가까운 지하철역을 찾는 함수 (호선 포함)
def find_nearest_station_kdtree(lat, lon, subway_df, subway_tree):
    distance, index = subway_tree.query([[lat, lon]], k=1)
    nearest_station = subway_df.iloc[index[0]]['역사명']
    nearest_line = subway_df.iloc[index[0]]['호선']
    return nearest_station, nearest_line

# train 데이터에 가장 가까운 지하철역과 호선을 추가합니다
train_df[['nearest_station', 'nearest_line']] = train_df.apply(
    lambda row: pd.Series(find_nearest_station_kdtree(row['Latitude'], row['Longitude'], subway_feature_df, subway_tree)),
    axis=1
)

# 결과를 출력합니다
print(train_df[['시군구', '번지', 'Latitude', 'Longitude', 'nearest_station', 'nearest_line']].head())

             시군구     번지   Latitude   Longitude  \
0  서울특별시 강남구 개포동  658-1  37.476151  127.057213
1  서울특별시 강남구 개포동  658-1  37.476151  127.057213
2  서울특별시 강남구 개포동  658-1  37.476151  127.057213
3  서울특별시 강남구 개포동  658-1  37.476151  127.057213
4  서울특별시 강남구 개포동  658-1  37.476151  127.057213

                      nearest_station                        nearest_line
0  619    구룡
Name: 역사명, dtype: object  619    분당선
Name: 호선, dtype: object
1  619    구룡
Name: 역사명, dtype: object  619    분당선
Name: 호선, dtype: object
2  619    구룡
Name: 역사명, dtype: object  619    분당선
Name: 호선, dtype: object
3  619    구룡
Name: 역사명, dtype: object  619    분당선
Name: 호선, dtype: object
4  619    구룡
Name: 역사명, dtype: object  619    분당선
Name: 호선, dtype: object

             시군구     번지   Latitude   Longitude nearest_station nearest_line  \
0  서울특별시 강남구 개포동  658-1  37.476151  127.057213              구룡          분당선
1  서울특별시 강남구 개포동  658-1  37.476151  127.057213              구룡          분당선
2  서울특별시 강남구 개포동  658-1  37.476151  127.057213              구룡          분당선
3  서울특별시 강남구 개포동  658-1  37.476151  127.057213              구룡          분당선
4  서울특별시 강남구 개포동  658-1  37.476151  127.057213              구룡          분당선

   nearest_distance  within_250m  within_500m  beyond_500m
0          0.010813            1            0            0
1          0.010813            1            0            0
2          0.010813            1            0            0
3          0.010813            1            0            0
4          0.010813            1            0            0

In [ ]:
# 병합된 데이터프레임을 저장합니다
train_df.to_csv('/content/drive/MyDrive/ML4_adv/merged_train_with_nearest_station_and_line_with_distance_columns.csv', index=False)

In [ ]:
print(train_df[['시군구', '번지', 'nearest_station', 'nearest_line']].sample(30))

                      시군구       번지  \
522744      서울특별시 송파구 오금동       67
815709      서울특별시 서초구 서초동     1684
525756       서울특별시 양천구 목동      911
326271      서울특별시 노원구 상계동    173-1
348848      서울특별시 마포구 상암동     1643
797781      서울특별시 도봉구 쌍문동      160
577248      서울특별시 노원구 상계동    766-1
920277      서울특별시 강서구 화곡동  1074-18
473518      서울특별시 노원구 공릉동       91
629138      서울특별시 양천구 신정동      329
483954      서울특별시 노원구 하계동      280
983071      서울특별시 노원구 중계동      369
355338      서울특별시 서초구 서초동  1527-13
511063      서울특별시 성동구 옥수동      561
545824      서울특별시 강남구 논현동    252-1
752777      서울특별시 은평구 대조동     6-19
282090      서울특별시 송파구 오금동        2
1043461   서울특별시 동대문구 답십리동       80
494529      서울특별시 동작구 사당동      105
476689      서울특별시 노원구 상계동      647
574082      서울특별시 구로구 오류동      342
261796      서울특별시 도봉구 도봉동      655
730621      서울특별시 성북구 정릉동     1028
723251    서울특별시 성동구 성수동1가    479-1
980848      서울특별시 노원구 공릉동      715
538685      서울특별시 은평구 증산동      255
66657       서울특별시 성북구 돈암동    609-1
40588       서울특별시 도봉구 방학동    716-1
468487      서울특별시 구로구 개봉동      481
194505   서울특별시 영등포구 문래동3가       96

                                      nearest_station  \
522744             329    개롱
Name: 역사명, dtype: object
815709             122    사평
Name: 역사명, dtype: object
525756             365    양평
Name: 역사명, dtype: object
326271             669    상계
Name: 역사명, dtype: object
348848       104    디지털미디어시티
Name: 역사명, dtype: object
797781             666    쌍문
Name: 역사명, dtype: object
577248             277    중계
Name: 역사명, dtype: object
920277             370    화곡
Name: 역사명, dtype: object
473518    285    화랑대(서울여대입구)
Name: 역사명, dtype: object
629138           710    양천구청
Name: 역사명, dtype: object
483954             276    하계
Name: 역사명, dtype: object
983071             669    상계
Name: 역사명, dtype: object
355338   685    남부터미널(예술의전당)
Name: 역사명, dtype: object
511063             692    금호
Name: 역사명, dtype: object
545824           261    강남구청
Name: 역사명, dtype: object
752777             319    불광
Name: 역사명, dtype: object
282090             331    방이
Name: 역사명, dtype: object
1043461           345    답십리
Name: 역사명, dtype: object
494529             254    남성
Name: 역사명, dtype: object
476689             279    마들
Name: 역사명, dtype: object
574082             242    천왕
Name: 역사명, dtype: object
261796             406    도봉
Name: 역사명, dtype: object
730621          28    북한산보국문
Name: 역사명, dtype: object
723251            451    서울숲
Name: 역사명, dtype: object
980848    275    공릉(서울과학기술대)
Name: 역사명, dtype: object
538685       314    증산(명지대앞)
Name: 역사명, dtype: object
66657      661    성신여대입구(돈암)
Name: 역사명, dtype: object
40588              407    방학
Name: 역사명, dtype: object
468487             472    개봉
Name: 역사명, dtype: object
194505             723    문래
Name: 역사명, dtype: object

                                   nearest_line
522744       329    5호선
Name: 호선, dtype: object
815709       122    9호선
Name: 호선, dtype: object
525756       365    5호선
Name: 호선, dtype: object
326271       669    4호선
Name: 호선, dtype: object
348848   104    공항철도1호선
Name: 호선, dtype: object
797781       666    4호선
Name: 호선, dtype: object
577248       277    7호선
Name: 호선, dtype: object
920277       370    5호선
Name: 호선, dtype: object
473518       285    6호선
Name: 호선, dtype: object
629138       710    2호선
Name: 호선, dtype: object
483954       276    7호선
Name: 호선, dtype: object
983071       669    4호선
Name: 호선, dtype: object
355338       685    3호선
Name: 호선, dtype: object
511063       692    3호선
Name: 호선, dtype: object
545824       261    7호선
Name: 호선, dtype: object
752777       319    6호선
Name: 호선, dtype: object
282090       331    5호선
Name: 호선, dtype: object
1043461      345    5호선
Name: 호선, dtype: object
494529       254    7호선
Name: 호선, dtype: object
476689       279    7호선
Name: 호선, dtype: object
574082       242    7호선
Name: 호선, dtype: object
261796       406    경원선
Name: 호선, dtype: object
730621      28    우이신설선
Name: 호선, dtype: object
723251       451    분당선
Name: 호선, dtype: object
980848       275    7호선
Name: 호선, dtype: object
538685       314    6호선
Name: 호선, dtype: object
66657        661    4호선
Name: 호선, dtype: object
40588        407    경원선
Name: 호선, dtype: object
468487       472    경인선
Name: 호선, dtype: object
194505       723    2호선
Name: 호선, dtype: object